---
layout: archive
title: "Curriculum Vitae"
permalink: /cv/
author_profile: true
redirect_from:
  - /resume
---

{% include base_path %}

<br>

Education
======


| Degree           | Year   | School        | Subject                                                      | 
| --------         | ------ | ------------- | ------------------------------------------------------------ |
| B. Sc.           | 2014   | [Technische Universität Ilmenau](https://www.tu-ilmenau.de/en/international/) | Computer Science                                             |
| M. Sc.           | 2016   | [Technische Universität Ilmenau](https://www.tu-ilmenau.de/en/international/) | Computer Science                                             |

<br>

Work experience
======

| Company                               | Year        | Position                           |
| --------                              | ----------- | ---------------------------------- |
| Bayerische Motoren Werke AG, Munich           | 2015/2016   | Intern (6 months)                  |
| Karlsruhe Institute of Technology, Karlsruhe     | since 2017  | Research Assistant                 |
  
<br>

<h1 class="page__title">Skills & Interests</h1>
<divclass="btn btn--article">Machine Learning</div>
<divclass="btn btn--article">Deep Learning</div>
<divclass="btn btn--article">Keras</div>
<divclass="btn btn--article">Tensorflow</div>
<divclass="btn btn--article">PyTorch</div>
<divclass="btn btn--article">scikit-learn</div>
<divclass="btn btn--article">Computer Vision</div>
<divclass="btn btn--article">Cognitive Systems</div>
<divclass="btn btn--article">C++</div>
<divclass="btn btn--article">Python 2 & 3</div>

<br>

<h1 class="page__title">Publications</h1>
  <ul>{% for post in site.publications reversed %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>
