---
layout: archive
title: "Curriculum Vitae"
permalink: /cv/
author_profile: true
redirect_from:
  - /resume
---

{% include base_path %}

<br>

<h2 class="page__title">Education</h2>

<div class="divTable blueTable">
<div class="divTableHeading">
<div class="divTableRow">
<div class="divTableHead">Year</div>
<div class="divTableHead">Degree</div>
<div class="divTableHead">School</div>
<div class="divTableHead">Subject</div>
</div>
</div>
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell">2011-2014</div>
<div class="divTableCell">Bachelor of Science</div>
<div class="divTableCell">Technische Universit&auml;t Ilmenau</div>
<div class="divTableCell">Computer Science (Minor: Mathematics)</div>
</div>
<div class="divTableRow">
<div class="divTableCell">2014-2016</div>
<div class="divTableCell">Master of Science</div>
<div class="divTableCell">Technische Universit&auml;t Ilmenau</div>
<div class="divTableCell">Computer Science (Focus: Cognitive Systems &amp; Robotics)</div>
</div>
</div>
</div>

<br>

<h2 class="page__title">Work experience</h2>

<div class="divTable blueTable">
  <div class="divTableHeading">
  <div class="divTableRow">
  <div class="divTableHead">Year</div>
  <div class="divTableHead">Company</div>
  <div class="divTableHead">Position</div>
</div>
</div>
  <div class="divTableBody">
  <div class="divTableRow">
  <div class="divTableCell">2015-2016</div>
  <div class="divTableCell">Bayerische Motoren Werke AG, Munich</div>
  <div class="divTableCell">Intern (6 months) <br/>Main topics: Dynamic Bayesian Networks, Machine Learning, Clustering, Cloud Services, Java</div>
</div>
  <div class="divTableRow">
  <div class="divTableCell">since 2017</div>
  <div class="divTableCell">Karlsruhe Institute of Technology, Karlsruhe</div>
  <div class="divTableCell">Research Assistant<br/>Main topics: Computer Vision, Machine/Deep Learning, Anomaly Detection, Crowd Analysis</div>
</div>
</div>
</div>

<br>

<h2 class="page__title">Skills & Interests</h2>
<div style="display: flex; flex-wrap: wrap;">
  <div class="btn btn--article" style="margin-right: 0.25em;">Machine Learning</div>
  <div class="btn btn--article" style="margin-right: 0.25em;">Deep Learning</div>
  <div class="btn btn--article" style="margin-right: 0.25em;">Keras</div>
  <div class="btn btn--article" style="margin-right: 0.25em;">Tensorflow</div>
  <div class="btn btn--article" style="margin-right: 0.25em;">PyTorch</div>
  <div class="btn btn--article" style="margin-right: 0.25em;">scikit-learn</div>
  <div class="btn btn--article" style="margin-right: 0.25em;">Computer Vision</div>
  <div class="btn btn--article" style="margin-right: 0.25em;">Cognitive Systems</div>
  <div class="btn btn--article" style="margin-right: 0.25em;">Anomaly Detection</div>
  <div class="btn btn--article" style="margin-right: 0.25em;">Crowd Analysis</div>
  <div class="btn btn--article" style="margin-right: 0.25em;">Human Pose Estimation</div>
  <div class="btn btn--article" style="margin-right: 0.25em;">C++</div>
  <div class="btn btn--article" style="margin-right: 0.25em;">Qt 5</div>
  <div class="btn btn--article" style="margin-right: 0.25em;">Python 2 & 3</div>
</div>
<br/>

<h2 class="page__title">Publications</h2>
{% for post in site.publications reversed %}
  {% include archive-single-cv.html %}
{% endfor %}
