{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if post.teaser contains "://" %}
            "{{ post.teaser }}"
          {% else %}
            "{{ post.teaser | prepend: "/images/publications/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>

    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

    {% if post.collection == 'teaching' %}
      <p> {{ post.type }}, <i>{{ post.student }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
    {% elsif post.collection == 'publications' %}
      <p>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
    {% elsif post.date %}
     <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
    {% endif %}
    
    <img src=
    {% if post.img contains "://" %}
      "{{ post.img }}"
    {% else %}
      "{{ post.img | prepend: "/images/publications/" | prepend: base_path }}"
    {% endif %}
    alt="" style="widt: 150px;">
    
    {% if post.excerpt and site.read_more != 'enabled' %}    
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify}}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify}}<strong> <a href="{{ base_path }}{{ post.url }}" class="read_more" rel="permalink">Read more</a></strong></p>
    {% endif %}

    {% if post.collection == 'teaching' %}
    <div class="btn_container">
      {% if post.pdf %}
        <strong><div><a href="{{ post.pdf }}" class="btn btn--info">Download PDF</a></div></strong>
      {% endif %}
      {% if post.poster %}
        <strong><div><a href="{{ base_path }}/files/poster/{{ post.poster }}" class="btn btn--info">Poster</a></div></strong>
      {% endif %}
      {% if post.slides %}
        <strong><div><a href="{{ base_path }}/files/slides/{{ post.slides }}" class="btn btn--info">Slides</a></div></strong>
      {% endif %}      
      {% if post.code %}
        <strong><div><a href="{{ post.code }}" class="btn btn--article">Code</a></div></strong>
      {% endif %}
      {% if post.data %}
        <strong><div><a href="{{ post.data }}" class="btn btn--article">Data</a></div></strong>
      {% endif %}
      {% if post.bibtex %}
        <strong><div><a href="{{ base_path }}/files/{{ post.bibtex }}" class="btn btn--article">BibTeX</a></div></strong>
      {% endif %}
    </div>
    {% endif %}

    {% if post.citation and post.paperurl %}
      <p>Recommended citation: {{ post.citation }} <a href="{{ post.paperurl }}"><u>{{ post.paperurl }}</u></a></p>
    {% elsif post.citation %}
      <p>Recommended citation: {{ post.citation }} </p>
    {% elsif post.paperurl %}
      <p>Download <a href=" {{ post.paperurl }} "><u>here</u></a></p>
    {% endif %}

  </article>
</div>
