{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div style="font-size: small; margin-left: -2em; margin-bottom: 0.5em; padding: 0.75em; background-color: #f8f8f8;">
  {{post.authors}}: <b>{{post.title}}</b>. In <i>{{post.venue}}</i>, {{post.year}}.
</div>
