/* ==========================================================================
   DIV TABLES
   ========================================================================== */

div.blueTable {
  background-color: #F8F8F8;
  width: 100%;
  text-align: left;
  margin-top: 0.5em;
  border-collapse: collapse;
}
.divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
  padding: 0.5em;
}
.divTable.blueTable .divTableHeading {
  background: #F8F8F8;
  background: -moz-linear-gradient(top, #fafafa 0%, #f8f8f8 66%, #F8F8F8 100%);
  background: -webkit-linear-gradient(top, #fafafa 0%, #f8f8f8 66%, #F8F8F8 100%);
  background: linear-gradient(to bottom, #fafafa 0%, #f8f8f8 66%, #F8F8F8 100%);
  border-bottom: .25em solid #ffffff;
}
.divTable.blueTable .divTableHeading .divTableHead {
  font-weight: bold;
  color: #343434;
}
.blueTable .tableFootStyle {
  font-size: 14px;
}
.blueTable .tableFootStyle .links {
	 text-align: right;
}
.blueTable .tableFootStyle .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 0.5em;
  border-radius: 5px;
}
.blueTable.outerTableFooter {
  border-top: none;
}
.blueTable.outerTableFooter .tableFootStyle {
  padding: 3px 5px; 
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; border-bottom: 1px solid #e8e8e8;}
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}

/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  border: 1px solid $light-gray;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: $lighter-gray;
  border-bottom: 1px solid $light-gray;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  border-right: 1px solid $light-gray;
}

td {
  padding: 0.5em;
  border-bottom: 1px solid $light-gray;
  border-right: 1px solid $light-gray;
}

tr, td, th {
  vertical-align: middle;
}
